.dockerignore
.git
.gitignore
log/
tmp/
public/assets
public/packs
public/packs-test
node_modules
yarn-error.log
vendor/bundle
.DS_Store
.env
.env.production
.env.development
.env.test
.env.local
.env.*.local
coverage
.rspec
spec/reports
.idea
.vscode
.bundle
.ruby-version
.ruby-gemset
.dockerignore